<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.demo.UserMapper">
 
    <select id="selectUserList" resultType="com.example.demo.UserDTO">
        select * 
          from admin_user
    </select>
 
    <select id="readUser" resultType="com.example.demo.UserDTO" parameterType="String">
        select * 
          from admin_user
         where user_id = #{userId}
    </select>
    
    <insert id="createUser" parameterType="com.example.demo.UserDTO">
    INSERT INTO admin_user
    		(user_id, user_pwd, user_name)
    		VALUES
    		(#{userId}, #{userPwd}, #{userName})
    </insert>
</mapper>